/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 249, 249, 0.863);
    margin: 0;
}


/****************************
  TOP SECTION CLASSES below:
  **************************/
.top-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: rgb(18, 18, 104);
    padding-top: 100px;
    padding-bottom:50px;
    
}
.top-section p{
    color: white;
    font-size:64px;
}
.top-section a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 20px;
    

}
.top-section a:hover{
    color: #E02C6D;
    background-color: white;
    border: 8px solid #E02C6D;
    border-radius: 20px;
   
}
.top-item{
    
}

.top-item img {
    width: 556px;
    height: 438px;
}

.top-item img:hover{
    transform: rotate(30deg);
    transition: transform linear 2s;
}

/*****************************
PLAYERS Section Classes below:
******************************/
.players-section{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    justify-items: center;
    grid-gap: 20px;
    align-items:stretch;
    
}

.player {
    padding: 15px;
    box-shadow: 10px 10px 40px grey;
    background-color: white;
    justify-items: center;
    
}

.player img {
    width: 330px;
    height: 256px;
    
}

.player img:hover {
    transform: scale(1.1);
    transition: transform linear 1s;
    border: 3px dashed rgb(18, 18, 104);
    
}

/*****************************
VIDEO Section CLAEESE begin:
******************************/
.video-section, .audio-section{
    display: grid;
    background-image: linear-gradient(grey,white);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    
    
}

.video-item h2:hover {
    background-color: white;
    padding: 10px;
    font-size: 1.5em;
    border: 3px solid red;
    border-radius: 30px;


}
.video-item span {
    color: red;
}

/*****************************
AUDIO Section CLAEESE begin:
******************************/
.audio-section{
    box-shadow: 5px 5px 20px lightskyblue;
}
.audio-section p {
    width: 70%;

}

.audio-item img {
    width:25%;
}

.audio-item img:hover {
    transform: scale(1.5);
    
}

.audio-item span{
    color: white;
}

/*****************************
Footer Section CLASSES begin:
******************************/

.footer-section{
    margin-top: 85px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.fa-futbol {
    font-size: 3em;
    color: rgb(18, 18, 104);
}

.fab {
    font-size: 2em;
    color: grey;
    margin-right: 8px;
}

.fab:hover{
    transform: scale(1.4);
  
}
.footer-item span {
    font-size: 3em;
    color:rgb(18, 18, 104);
    margin-left: 25px;
    font-family: 'Qahiri', sans-serif;
    font-size: 5em;
}

/*********************************
Media Queries for Mobile Phones:
**********************************/

@media only screen and (max-width: 688px) {
    .top-section{
        display:grid;
        grid-template-columns: 1fr;
        align-items: center;
        background-color: rgb(18, 18, 104);
        padding-top: 100px;
        padding-bottom:50px;
        margin: auto;
         
    }

    .top-item img {
        width: 75%;
    }

    .top-item p {
        width: 50%;
    }

    .players-section{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        /* width: 80%; */
        display: grid;
        grid-template-columns:1fr;
        justify-items: center;
        grid-gap: 20px;
        align-items:stretch;
        
    }
    .player img {
        width: 100%;
        height: 256px;
        
    }

    .video-section, .audio-section{
        display: grid;
        background-image: linear-gradient(grey,white);
        grid-template-columns: 1fr;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        justify-items: center;
        align-items: center;
        padding: 20px;
        
    }

}

/*****************************
Media Queries for TABs:
******************************/

@media only screen and (max-width: 992px) and (min-width:689px)  {
    .top-section{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        background-color: rgb(18, 18, 104);
        padding-top: 100px;
        padding-bottom:50px;
        
    }

    .players-section{
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        /* width: 80%; */
        display: grid;
        grid-template-columns:repeat(2,1fr);
        justify-items: center;
        grid-gap: 20px;
        align-items:stretch;
        
    }
    .player img {
        width: 100%;
        height: 256px;
        
    }

    .video-section, .audio-section{
        display: grid;
        background-image: linear-gradient(grey,white);
        grid-template-columns: 1fr;

        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        justify-items: center;
        align-items: center;
        padding: 20px;
        
    }

}
