@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 249, 249, 0.863);
    margin: 0;
}
/****************************
  TOP SECTION CLASSES below:
  **************************/
.top-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: rgb(18, 18, 104);
    padding-top: 100px;
    padding-bottom:50px;
    
}
.top-section p{
    color: white;
    font-size:64px;
}
.top-section a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 20px;

}
.top-section a:hover{
    background-color: rgb(18, 27, 4);
}
.top-item{
    
}

.top-item img {
    width: 556px;
    height: 438px;
}

.top-item img:hover{
    transform: rotate(30deg);
    transition: transform linear 2s;
}

/*****************************
PLAYERS Section Classes below:
******************************/
.players-section{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    justify-items: center;
    grid-gap: 20px;
    align-items:stretch;
    
}

.player {
    padding: 15px;
    box-shadow: 10px 10px 40px grey;
    background-color: white;
    justify-items: center;
    
}

.player img {
    width: 330px;
    height: 256px;
    
}

/*****************************
VIDEO Section CLAEESE begin:
******************************/
.video-section{
    display: grid;
    background-image: linear-gradient(grey,white);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    
}

.video-item h2:hover {
    background-color: white;
    padding: 20px;
    font-size: 2em;


}
.video-item span {
    color: red;
}